<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="myViewport" name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, minimum-scale=0.7, target-densitydpi=device-dpi, user-scalable=no" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/main")

</head>
<body class="content">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/customPlugin")

    @RenderBody()

    @Scripts.Render("~/bundles/allScripts")

    @RenderSection("scripts", required: false)

</body>
</html>
